<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    {{template "navbar"}}
    <section class="section">
      <div class="container">
        <h1 class="title">
          Ketikode
        </h1>
        <p class="subtitle">
          An online judger made by <a href="https://gitlab.com/andraantariksa">Andra Antariksa Prihadi</a>
        </p>
      </div>
    </section>
    <!-- Begin additional javascript -->
    <script src="static/js/main.js"></script>
  </body>
</html>