<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    {{template "navbar"}}
    <section class="section">
        <div class="problem-header container" style="margin: 0.5rem">
          <h1 class="title has-text-centered">
            Hello World!
          </h1>
          <p class="subtitle has-text-centered">
            The first rule
          </p>
          <p class="has-text-centered">Time limit 1s</p>
          <p class="has-text-centered">Memory limit 64MB</p>
        </div>
        <div class="problem-description container">
          <p>
            Pak Dengklek senang sekali mengetahui bahwa Anda sedang mempelajari dasar-dasar pemrograman. Ia lalu memberitahu Anda bahwa langkah pertama yang biasanya dilakukan untuk mempelajari suatu bahasa pemrograman adalah dengan mencetak sebuah kalimat "Halo, dunia!" dengan bahasa tersebut.<br />
            <br />
            Pak Dengklek meminta Anda melakukan hal tersebut. Buatlah program yang dimaksud.<br />
          </p>
        </div>
        <div class="problem-input container">
            <h2 class="is-size-3 has-text-weight-bold">Input</h2>
            <p>Tidak ada</p>
        </div>
        <div class="problem-output container">
            <h2 class="is-size-3 has-text-weight-bold">Output</h2>
            <pre style="border:1px solid #ccc;">Hello World!</pre>
        </div>
    </section>
    <!-- Begin additional javascript -->
    <script src="static/js/main.js"></script>
  </body>
</html>